.container {
    margin: 3px black;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 75%;
    width: 100%;
    margin: 2px black;
}